{% extends 'base.html' %}

{% block head %}
    <title>Restore S3 Backups</title>
{% endblock %}

{% block page_header_title %}
    <h1>Restore S3 Backups</h1>
{% endblock %}

{% block content %}

    <form class="flex-form" action="/backups/restore/s3" method="post">
        <div class="form-group">
            <label for="to-restore">Enter the backup file name:</label>
            <input name="to-restore" type="text">
        </div>
        <div class="form-group">
            <label for="s3-bucket-name">Enter the S3 bucket name:</label>
            <input name="s3-bucket-name" type="text">
        </div>
        <div class="form-group">
            <label for="s3-bucket-path">Enter the S3 bucket path:</label>
            <input name="s3-bucket-path" type="text">
        </div>
        <div class="form-group">
            <label for="decryption-key">Enter the decryption key, if necessary:</label>
            <input name="decryption-key" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Restore Backup</button>
    </form>


{% endblock %}