schedule==1.0.0
schema==0.7.4
dnspython==1.16.0
aiosmtpd==1.4.2
boto3==1.17.46
pycryptodomex==3.10.1
Flask==2.0.1
flask-paginate==0.8.1
jmespath==0.10.0
idna==2.8
pip==20.0.2
attrs==21.2.0
botocore==1.20.86
s3transfer==0.4.2
MarkupSafe==2.0.1
Werkzeug==2.0.1
Jinja2==3.0.1
click==8.0.1
itsdangerous==2.0.1
wheel==0.34.2
psutil==5.8.0
certifi==2019.11.28
chardet==3.0.4
six==1.14.0
packaging==20.3
colorama==0.4.3
python-dateutil==2.8.1
urllib3==1.25.8
webencodings==0.5.1
pyparsing==2.4.6
setuptools==44.0.0
CacheControl==0.12.6
requests==2.23.0
msgpack==0.6.2
uWSGI==2.0.19.1
jsonpickle==2.0.0
scikit-learn==0.24.1