{% extends 'base.html' %}

{% block head %}
    <title>Control Panel</title>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='real-time-monitoring.js') }}"></script>
{% endblock %}

{% block body %}

    <h1>Control panel</h1>
    <div id="control-panel">

        <div id="configuration-and-backup-sections">

            <div class="control-panel-section">
                <h2>Configuration</h2>
                <p>Choose a configuration file to edit:</p>
                <ul>
                    {% for conf_file in config_files %}
                        <li>
                            <a href="/conf/{{ conf_file }}">
                                {{ conf_file }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="control-panel-section">
                <h2>Backups</h2>
                <p>Backup options:</p>
                <ul id="backup-options">
                    <li><a href="/backups/list">List all backups</a></li>
                    <li><a href="/backups/create">Create a new backup file</a></li>
                    <li><a href="/backups/restore">Restore a backup file</a></li>
                </ul>

            </div>
        </div>

        <div class="control-panel-section">
            <h2>Monitoring</h2>
            <div id="past-logs">
                <a href="/monitor/past-logs">Past logs</a>
            </div>
            <div id="real-time-logs">
                <p id="no-logs-yet-msg">There aren't any logs yet.</p>
            </div>
        </div>
    </div>

{% endblock %}