{% extends 'base.html' %}

{% block head %}
    <title>Backups List</title>
{% endblock %}

{% block body %}
    <h1>List of local backups</h1>
    {% if backup_files %}
        <table class="table">
            <thead>
            <tr>
                <th>Backup file</th>
                <th>Contents</th>
                <th>Uploaded to S3</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for backup_file in backup_files %}
                <tr>
                    <td>{{ backup_file }}</td>
                    {% if backup_file in backups_log %}
                        <td>{{ backups_log[backup_file]["backed-up"] }}</td>
                        <td>{{ backups_log[backup_file]["uploaded-to-s3"] }}</td>
                    {% else %}
                        <td>Unknown</td>
                        <td>Unknown</td>
                    {% endif %}
                    <td>Ops</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There aren't any backup files yet.</p>
    {% endif %}
{% endblock %}