{% extends 'base.html' %}

{% block head %}
    <title>Past Logs</title>
{% endblock %}

{% block body %}
    <h1>Past logs</h1>

    {% if past_logs %}
        <form name="searchForm" method="get" action="/monitor/past-logs">
            {% for code, label in attributes.items() %}
                <div class="form-group">
                    <label for="{{ code }}">{{ label }}</label>
                    <input type="email" id="{{ code }}" name="{{ code }}">
                </div>
            {% endfor %}
            <span class="fas fa-search" onclick="document.searchForm.submit()"></span>
        </form>

        <table class="table">
            <thead>
            <tr>
                {% for header in attributes.values() %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for timestamp, log in past_logs %}
                <tr>
                    {% for attr in attributes %}
                        <td>{{ log[attr] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There aren't any logs yet.</p>
    {% endif %}

{% endblock %}