{% extends 'base.html' %}

{% block head %}
    <title>Past logs</title>
    <script src="{{ url_for('static', filename='search-bar.js') }}"></script>
{% endblock %}

{% block body %}
    <div>
        <h1>Past logs</h1>

        <form name="search-form" method="get" action="/monitor/past-logs">
            {% for code, label in attributes.items() %}
                <div class="form-group">
                    <label for="{{ code }}">{{ label }}</label>
                    <input type="email" class="form-control" id="{{ code }}" name="{{ code }}">
                </div>
            {% endfor %}
            <span class="fas fa-search" onclick="send_form('search-form')"></span>
        </form>

        <table class="table">
            <thead>
            <tr>
            {% for header in attributes.values() %}
                <th>{{ header }}</th>
            {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for log in past_logs %}
                <tr>
                    {% for attr in attributes %}
                        <td>{{ log[attr] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}